*{
    margin: 0%;
    padding: 0%;
    list-style: none;
    text-decoration: none;
}
/* 
Hosting Account ID:	favourbliss-001
First Website Root Folder Name:	site1
Hosting Plan Name:	W60-US
Please Record The Following FTP Infomation:
FTP Address :	FTP.SITE4NOW.NET
FTP Username :	favourbliss-001
FTP Password :	(same as your control panel password)
FTP Directory:	\
*/

header {
    background: #000;
    width: 100%;
    height: 40px;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: inherit;
}

.logo > h1 {
    color: green;
    font-size: 30px;
    padding: 5px 4px;
}

.menu {
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    padding: 4px 7px;
}
.menu-line1{
    width: 100%;
    height: 5px;
    background: green;
}
.menu-line2{
    width: 100%;
    height: 5px;
    background: green;
}
.menu-line3{
    width: 100%;
    height: 5px;
    background: green;
}

.showcase {
    width: 100%;
    height: 40vh;
    background: #000;
    background: url("favor.jpg");
    background-size: cover;
    background-position: center;
    place-items: center;
display: grid;
}
.showcase-box {
    width: 100%;
    height: 100px;
    background: green;
    position: relative;
    top: 025%;
}
.showcase-box p {
    color: #000;
    font-size: 20px;
    font-weight: 100;
    font-family: Poppins;
}

h1 {
    font-size: 100px;
    text-align: center;
    margin-top: 2%;
}

form {
width: 60%;
height: 60vh;
margin: 5% 20%;
    background: #000;
    place-items: center;
    display: grid;
}
form > h3 {
    color: #fff;
    font-size: 80px;
    font-weight: 100;
}

footer {
background: #000;
place-items: center;
display: grid;
}
footer p {
    color: #fff;
    font-size: 20px;
    padding: 5px 0;
}
input[type="text"], input[type="email"], textarea {
    width: 70%;
    background: none;
    border: 1px solid #fff;
    outline: none;
    font-size: 20px;
    padding: 5px 4px;
    color: #fff;
}
button[type="submit"] {
    width: 70%;
    height: 40px;
    background: green;
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
}


@media only screen and (max-width:600px){
    .showcase {
        width: 100%;
        height: 40vh;
        background: url("favor.jpg");
        background-size: cover;
        background-position: center;
        place-items: center;
        display: grid;
    }
    .showcase h2 {
        color: #fff;
        font-size: 50px;
        font-weight: 100;
        font-family: Poppins;
        text-align: center;
    }
    .showcase-box {
        width: 100%;
        height: 100px;
        background: green;
        position: relative;
        top: 025%;
    }
    .showcase-box h2 {
        color: #000;
        font-size: 30px;
        font-weight: 100;
        font-family: Poppins;
    }
    .showcase-box p {
        color: #000;
        font-size: 20px;
        font-family: Poppins;
        text-align: center;
    }
    
    h1 {
        font-size: 60px;
        text-align: center;
        margin-top: 2%;
    }
    
    form {
    width: 100%;
    height: 60vh;
    margin: 5% 0%;
        background: #000;
        place-items: center;
        display: grid;
    }
    form > h3 {
        color: #fff;
        font-size: 40px;
        font-weight: 100;
    }
    
    footer {
    background: #000;
    place-items: center;
    display: grid;
    }
    footer p {
        color: #fff;
        font-size: 20px;
        padding: 5px 0;
    }
    input[type="text"], input[type="email"], textarea {
        width: 70%;
        background: none;
        border: 1px solid #fff;
        outline: none;
        font-size: 20px;
        padding: 5px 4px;
        color: #fff;
    }
    input[type="submit"] {
        width: 70%;
        height: 40px;
        background: green;
        color: #fff;
        font-size: 18px;
        outline: none;
        border: none;
    }
    
}
